[Unit]
Description=Prerender Server

[Service]
ExecStart=/usr/bin/nodejs /home/prerender/server/custom_server.js
WorkingDirectory=/home/prerender/server/

Restart=always
RestartSec=5

User=prerender
Group=prerender

Environment=PORT=5000 CACHE_MAX_SIZE=1000 CACHE_TTL=86400

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd :
