[Unit]
Description=SESE Website API Server

[Service]
ExecStart=/home/sese-website/.local/bin/sese-website-exe
WorkingDirectory=/home/sese-website/

Restart=always
RestartSec=5

User=sese-website
Group=sese-website

EnvironmentFile=/home/sese-website/website-env

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd :
