defaults
auth            on
tls             on
tls_trust_file  /etc/ssl/certs/ca-certificates.crt
logfile         /var/log/msmtp.log
aliases         /etc/aliases


account         gmail
host            smtp.gmail.com
port            587
from            it@acorncommunity.org
user            it@acorncommunity.org
password        {{ msmtp_password }}


account default : gmail
