ENV=Production
MEDIA=/var/www/media
LOGS=/var/www/logs
STRIPE_TOKEN={{ stripe_token }}
SMTP_SERVER=mail.southernexposure.com
SMTP_USER={{ smtp_user }}
SMTP_PASS={{ smtp_pass }}
COOKIE_SECRET={{ cookie_secret }}

STONE_EDGE_USER={{ stone_edge_user }}
STONE_EDGE_PASS={{ stone_edge_pass }}
STONE_EDGE_CODE={{ stone_edge_code }}

AVATAX_STATUS='{{ avatax_status }}'
AVATAX_ACCOUNT_ID='{{ avatax_account_id }}'
AVATAX_LICENSE_KEY='{{ avatax_license_key }}'
AVATAX_ENVIRONMENT='{{ avatax_environment }}'
AVATAX_COMPANY_ID='{{ avatax_company_id }}'
AVATAX_COMPANY_CODE='{{ avatax_company_code }}'
AVATAX_LOCATION_CODE=DEFAULT
